@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.font-xs {
  font-size: 12px;
}

.font-s {
  font-size: 14px;
}

.font-m {
  font-size: 20px;
}

.font-l {
  font-size: 24px;
}

.light-300 {
  font-weight: 300;
}

.bold-600 {
  font-weight: 600;
}

.fz-24 {
  font-size: 24px;
}

.fz-32 {
  font-size: 32px;
}

.xl-bold-text {
  font-size: 32px;
  font-weight: bold;
}

.xxl-bold-text {
  font-size: 40px;
  font-weight: bold;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-60 {
  margin-bottom: 60px;
}

.gray-text {
  color: #8D8D8D;
}

body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif, 'Roboto';
  font-weight: 300;
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

input:focus {
  outline: none;
}

h2 {
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

.gold-text {
  color: #916000;
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.theme-button {
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  max-width: 350px;
  line-height: 60px;
}

h1 {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d’Perfume.png");
  width: 128px;
  height: 38px;
  padding: 9px 0;
  background-repeat: no-repeat;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  position: relative;
  text-decoration: none;
  display: block;
  color: #8D8D8D;
}

.nav em {
  position: absolute;
  top: -4px;
  right: -5px;
  background: #916000;
  color: white;
  display: block;
  border-radius: 7px;
  padding: 0px;
  width: 16px;
  height: 13px;
  line-height: 14px;
  display: none;
  text-align: center;
}

.nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav li + li {
  margin-left: 32px;
}

.nav .nav-menu-icon {
  display: none;
  margin-left: 15px;
  opacity: 45%;
}

ul li:nth-child(1) a img {
  width: 18px;
  height: 16px;
}

ul li:nth-child(2) a img {
  width: 16px;
  height: 16px;
}

ul li:nth-child(3) a img {
  width: 20px;
  height: 18.35px;
}

ul li:nth-child(4) a img {
  width: 20px;
  height: 20px;
}

.nav-item-name {
  margin-left: 3px;
}

.banner-full-width-wrap {
  padding: 0;
  position: relative;
  width: 100vw;
  height: 45.3vw;
}

.banner {
  width: 100vw;
  height: 45.3vw;
  overflow: hidden;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-content-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-slogan {
  color: white;
}

.banner-slogan p {
  max-width: 445px;
  margin-bottom: 16px;
}

.banner-slogan .shop-now-button {
  font-weight: 300;
  border-color: #FFFFFF;
  font-size: 28px;
}

.grid-wrap {
  margin-bottom: 60px;
}

.grid-wrap li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grid-wrap .grid-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.grid-wrap .grid-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.grid-wrap .grid-info {
  width: 350px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-wrap .keep-ratio-wrap {
  width: 50%;
  padding-bottom: 50%;
  position: relative;
}

.grid-wrap .keep-ratio-wrap > .square-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
}

.grid-wrap .keep-rect-ratio-wrap {
  width: 50%;
  padding-bottom: 97.3%;
  position: relative;
}

.grid-wrap .keep-rect-ratio-wrap > .rect-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index5.jpg");
  background-size: cover;
  background-position: center;
}

.grid-wrap .rect-grid-title {
  font-size: 24px;
  margin-bottom: 4px;
}

.grid-wrap .rect-grid-paragraph {
  font-weight: 300;
  margin-bottom: 52px;
}

.grid-wrap .training-button {
  font-weight: 500;
  border-color: black;
  color: black;
}

ul li:nth-child(1) .square-photo {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index2.jpg");
}

ul li:nth-child(2) .square-photo {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index3.png");
}

ul li:nth-child(3) .square-photo {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index4.jpg");
}

.discount-full-width-wrap {
  padding: 40px 0;
  background: #E0E0E0;
}

.discount-product:nth-child(1) .discount-photo {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index6.jpg");
}

.discount-product:nth-child(2) .discount-photo {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index7.jpg");
}

.discount-product:nth-child(3) .discount-photo {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index8.jpg");
}

.discount-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discount-wrap .discount-product {
  width: 31.5%;
}

.discount-wrap .discount-keep-ratio {
  width: 100%;
  padding-bottom: 154.3%;
  position: relative;
  margin-bottom: 8px;
}

.discount-wrap .discount-keep-ratio > .discount-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
}

.discount-wrap .discount-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.discount-wrap .sold-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.discount-wrap .discount-product-name {
  font-size: 24px;
  margin-bottom: 4px;
}

.discount-wrap .discount-brand {
  font-weight: 300;
  margin-bottom: 16px;
}

.discount-wrap .discount-price {
  font-weight: 300;
  margin-right: 8px;
}

.discount-wrap .original-price {
  color: #8D8D8D;
  text-decoration: line-through;
}

.eco-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}

.eco-wrap .eco-info {
  margin: auto;
  width: 31.5%;
}

.eco-wrap .eco-keep-ratio-wrap {
  width: 65.8%;
  padding-bottom: 46.9%;
  position: relative;
}

.eco-wrap .eco-keep-ratio-wrap > .eco-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index9.jpg");
  background-size: cover;
  background-position: center;
}

.eco-wrap p {
  margin-bottom: 8px;
}

.subscribe-full-width-wrap {
  height: 600px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index10.jpg");
  background-size: cover;
  background-position: center;
}

.subscribe-wrap {
  padding: 312px 0 0 0;
}

.subscribe-title {
  margin-bottom: 20px;
}

.email-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 350px;
}

.email-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 2px solid #916000;
  border-radius: 4px 0px 0px 4px;
  background: white;
  height: 60px;
  line-height: 60;
  padding-left: 16px;
}

.email-input::-webkit-input-placeholder {
  color: #8D8D8D;
}

.email-input:-ms-input-placeholder {
  color: #8D8D8D;
}

.email-input::-ms-input-placeholder {
  color: #8D8D8D;
}

.email-input::placeholder {
  color: #8D8D8D;
}

.subscribe-btn {
  width: 131px;
  border: 2px solid #916000;
  border-radius: 0px 4px 4px 0px;
  background: #916000;
  cursor: pointer;
  color: white;
}

.footer-full-width-wrap {
  background: #916000;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-copyright-wrap {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  width: 128px;
  height: 38px;
}

.footer-copyright {
  margin-left: 23px;
  color: white;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu a {
  color: white;
}

.footer-menu a + a {
  margin-left: 36px;
}

@media (max-width: 768px) {
  .nav em {
    display: block;
  }
  .m-none {
    display: none;
  }
  .nav .m-none {
    display: none;
  }
  .nav .nav-menu-icon {
    display: block;
  }
  .grid-wrap {
    margin-bottom: 20px;
  }
  .grid-wrap .grid-row-reverse, .grid-wrap li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-wrap .keep-ratio-wrap {
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 8px;
  }
  .grid-wrap .keep-rect-ratio-wrap {
    width: 100%;
    padding-bottom: 194.6%;
    margin-bottom: 8px;
  }
  .grid-wrap .grid-info {
    margin-bottom: 20px;
  }
  .grid-wrap .grid-info h3 {
    margin-bottom: 8px;
  }
  .grid-wrap .grid-info p {
    margin-bottom: 8px;
  }
  .banner-full-width-wrap {
    height: 480px;
    margin-bottom: 40px;
  }
  .banner {
    height: 480px;
  }
  .banner-slogan h2 {
    font-size: 32px;
  }
  .banner-slogan p {
    font-size: 20px;
  }
  .header {
    padding: 0 20px;
  }
  .discount-full-width-wrap {
    padding: 12px 0 16px 0;
  }
  .discount-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discount-wrap .discount-product {
    width: 100%;
    margin-bottom: 24px;
  }
  .discount-wrap .discount-brand {
    margin-bottom: 4px;
  }
  .discount-wrap .original-price {
    display: none;
  }
  .eco-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .eco-wrap .eco-keep-ratio-wrap {
    width: 100%;
    padding-bottom: 150.7%;
    margin-bottom: 8px;
  }
  .eco-wrap .eco-info {
    width: 100%;
  }
  .eco-wrap p {
    margin-bottom: 16px;
  }
  .wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=hex_task4_index.css.map */