@import 'utilities/css_reset';
@import 'utilities/font';
@import 'utilities/color';
@import 'utilities/dimension';
@import 'base/base';
@import 'component/wrap';
@import 'component/button';
@import 'component/banner';
@import 'utilities/img';
@import 'utilities/mixin';
@import 'component/navBar';

h1 {
    @include image-replace-text;
    background: url($logo-url);
    width: $logo-width;
    height: 38px;
    padding: 9px 0;
    background-repeat: no-repeat;
}

.header {
    height: 56px;
}

.grid-wrap {    

    .grid-row-reverse {        
        flex-direction: row-reverse;
    }
    
    .grid-info {
        width: 350px;
        margin: auto;
    }

    .keep-ratio-wrap {
        width: 50%;
        padding-bottom: 50%;
        position: relative;
    }
    
    .keep-ratio-wrap > .square-photo {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-size: cover;
        background-position: center;
    }

    .keep-rect-ratio-wrap {
        width: 50%;
        padding-bottom: 97.3%;
        position: relative;
    }
    
    .keep-rect-ratio-wrap > .rect-photo {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background: url($grid-4-img-url);
        background-size: cover;
        background-position: center;
    }

    .training-button {
        border-color: black;
        color: black;
    }
}

@include grid-img-url();

.discount-full-width-wrap {
    padding: 40px 0;
    background: $discount-bg-gray;
}

@include discount-img-url();

.discount-wrap {

    .discount-product {
        width: 31.5%;
    }

    .discount-keep-ratio {
        width: 100%;
        padding-bottom: 154.3%;
        position: relative;
    }

    .discount-keep-ratio > .discount-photo {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-size: cover;
        background-position: center;
    }

    .sold-out {
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        color: white;
    }

    .original-price {
        color: $theme-gray;
        text-decoration: line-through;
    }
}


.eco-wrap {
    padding: 60px 0;

    .eco-info {
        margin:  auto;
        width: 31.5%;
    }

    .eco-keep-ratio-wrap {
        width: 65.8%;
        padding-bottom: 46.9%;
        position: relative;
    }

    .eco-keep-ratio-wrap > .eco-photo {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background: url($eco-img-url);
        background-size: cover;
        background-position: center;
    }
}

.subscribe-full-width-wrap {
    height: 600px;
    background: url($subscribe-bg-url);
    background-size: cover;
    background-position: center;
}

.subscribe-wrap {
    padding: 312px 0 0 0;
}

.email-wrap {
    max-width: 350px;
}

.email-input {
    flex-grow: 1;
    border: 2px solid $theme-gold;
    border-radius: 4px 0px 0px 4px;
    background: white;
    height: 60px;
    line-height: 60px;
    padding-left: 16px;

    &::placeholder {
        color: $theme-gray;
    }
}

.subscribe-btn {
    width: 131px;
    border: 2px solid $theme-gold;
    border-radius: 0px 4px 4px 0px;
    background: $theme-gold;
    cursor: pointer;
    color: white;
}

.footer-full-width-wrap {
    background: $theme-gold;
}

.logo-copyright-wrap {
    height: 80px;
}

.footer-logo {
    width: 128px;
    height: 38px;
}

.footer-copyright {
    margin-left: 23px;
    color: white;
}

.footer-menu {

    a {
        color: white;    
    }

    a + a {
        margin-left: 36px;
    }
}

@media(max-width: 768px) {
    .m-none {
        display: none;
    }    

    .grid-wrap {
        margin-bottom: 20px;

        .grid-row-reverse, li {        
            flex-direction: column;
        }

        .keep-ratio-wrap {
            width: 100%;
            padding-bottom: 100%; 
            margin-bottom: 8px;       
        }

        .keep-rect-ratio-wrap {
            width: 100%;
            padding-bottom: 194.6%;
            margin-bottom: 8px;       
        }

        .grid-info {
            margin-bottom: 20px;
        }

        .grid-info h3 {
            margin-bottom: 8px;
        }

        .grid-info p {
            margin-bottom: 8px;
        }
    }

    .header {
        padding: 0 20px;
    }

    .discount-full-width-wrap {
        padding: 12px 0 16px 0;
    }

    .discount-wrap {
        flex-direction: column;
        
        .discount-product {
            width: 100%;
            margin-bottom: 24px;
        }

        .discount-brand {
            margin-bottom: 4px;
        }

        .original-price {
            display: none;
        }
    }

    .eco-wrap {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;

        .eco-keep-ratio-wrap {
            width: 100%;
            padding-bottom: 150.7%; 
            margin-bottom: 8px;
        }

        .eco-info {
            width: 100%;
        }

        p {
            margin-bottom: 16px;
        }
    }

    .wrap {
        padding-left: $wrap-padding;
        padding-right: $wrap-padding;
    }
}


