h1 {
    @include image-replace-text;
    background: url($logo-url);
    width: $logo-width;
    height: 38px;
    padding: 9px 0;
    background-repeat: no-repeat;
}

.header {
    height: 56px;
}

@media(max-width: 768px) {
    .header {
        padding: 0 20px;
    }
}
