body {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, 'Roboto';
    font-weight: 300;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

input:focus {
    outline: none;
}
